<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/f482d8c516387ff7f61da131d03df35cdec907ff215ce6ea1f0a161b3cf0eb3e.png">
    </div>
    
    {{>footer}}
</body>

</html>